body{background-color: antiquewhite;


    }    h2{font-size: 40px;
        font-family: sans-serif;
        color: black;

    }

    p{
        font-size: 70px;

    }

    img{
        width: 100%;
    }